@{
    ViewData["Title"] = "Home Page";
    var context = new PublicUtilitiesContext();
    var items = context.Tenants
                    .Join(context.Payment, tenants => tenants.ApartmentId, payment => payment.ApartmentId,
                    (t, p) => new { IdTenent = t.Id, Name = t.FirstName, Surname = t.LastName, p.ApartmentId })
                    .ToList()
                    .GroupBy(table => new { table.IdTenent, table.Name, table.Surname })
                    .Where(t => t.Count() >= 3);

}

<div class="text-center">
    <h1 class="display-4"></h1>
    <div class="text-center">
        <h5 class="display-3">База даних</h5>
        <p>Всі користувачі, які користуються більше ніж трьома послугами:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Ім'я
                    </th>
                    <th>
                        Прізвище
                    </th>
                    <th>
                        К-сть послуг
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in items)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Key.IdTenent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Key.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Key.Surname)
                        </td>
                         <td>
                            @item.Count()
                         </td> 
                    </tr>
                 }
            </tbody>
        </table>
    </div>
</div>
